$cx-include-global-rules: false;
$cx-default-border-radius: 0;
$cx-default-grid-font-size: 14px;
$cx-use-box-line-height-fix: false;
$cx-default-box-padding: 8px;
$cx-default-icon-size: 14px;
$cx-default-border-radius: 4px;

@import '~cx/src/variables';

$cx-grid-header-state-style-map: cx-deep-map-merge(
   $cx-grid-header-state-style-map,
   (
      default: (
         background-color: white,
         border-color: #ddd,
         border-left-color: transparent,
         text-transform: uppercase,
         font-size: 12px,
         font-weight: bold,
         padding: 0.25rem 0.5rem,
      ),
      hover: (
         background-color: white,
      ),
      sorted: (
         background-color: white,
      ),
      sorted-hover: (
         background-color: white,
      ),
   )
);

$cx-grid-data-state-style-map: cx-deep-map-merge(
   $cx-grid-data-state-style-map,
   (
      default: (
         border-color: #cbd5e0,
         font-size: 14px,
         line-height: 18px,
         padding: 0.5rem 0.5rem,
      ),
   )
);

$cx-list-item: cx-deep-map-merge(
   $cx-list-item,
   (
      cursor: (),
      selected: (
         background-color: #cbd5e0,
         //color: white,
      ),
      selected-cursor: (
         background-color: #cbd5e0,
         //color: white,
      ),
   )
);

$cx-std-field-state-style-map: cx-deep-map-merge(
   $cx-std-field-state-style-map,
   (
      default: (
         background-color: #edf2f7,
         border-radius: 3px,
         box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075),
      ),
      focus: (
         box-shadow: 0 0 2px gray,
         border-color: gray,
         background-color: white,
      ),
      error: (
         background-color: rgba(red, 0.05),
      ),
      read-only: (
         background-color: white,
      ),
   )
);

$cx-button-state-style-map: cx-deep-map-merge(
   $cx-button-state-style-map,
   (
      default: (
         padding: 8px 16px,
         font-weight: bold,
         font-size: 14px,
         border-radius: 3px,
         box-shadow: inset 0 -1px 3px rgba(white, 0.1),
      ),
   )
);

$cx-window-state-style-map: cx-deep-map-merge(
   $cx-window-state-style-map,
   (
      default: (
         border-radius: 4px,
      ),
   )
);

$cx-window-header-state-style-map: cx-deep-map-merge(
   $cx-window-header-state-style-map,
   (
      default: (
         border-top-left-radius: 4px,
         border-top-right-radius: 4px,
         padding: 0.5rem 1rem,
      ),
   )
);

$cx-window-footer-state-style-map: cx-deep-map-merge(
   $cx-window-footer-state-style-map,
   (
      default: (
         border-bottom-left-radius: 4px,
         border-bottom-right-radius: 4px,
         padding: 0.75rem 1rem,
      ),
   )
);

@import '~cx/src/index';

.cxe-overlay-shadow {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   animation: shadow-fade-in 0.2s forwards;
}

@keyframes shadow-fade-in {
   from {
      background: rgba(128, 128, 128, 0);
   }

   to {
      background: rgba(128, 128, 128, 0.4);
   }
}

@import 'components/index';
