$loading-overlay-background-color: rgba(white, 0.7);

.cxb-loading-overlay-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   align-items: center;
   justify-content: center;
   background: $loading-overlay-background-color;

   &.cxs-animated {
      opacity: 0;
      transition: opacity 400ms;
      pointer-events: none;

      &.on {
         opacity: 1;
         pointer-events: all;
         transition: none;
      }
   }
}
